{%extends "base.html"%}

{%block conteudo%}

    <main>
        <div class="container">
            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Data Iníco</th>
                            <th>Data Termino</th>
                        </tr>
                    </thead>            
                    <tbody>
                        {% for obj in listVotacoes %}
                            <tr>
                                <td>
                                    {{ obj.nome_completo }}
                                </td>
                                <td>
                                    {{ obj.horario_inicio }}
                                </td>
                                <td>
                                    {{ obj.horario_termino }}
                                </td>
                                <td>
                                    <a href="{% url 'votar' obj.id %}">Votar</a>
                                </td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </main>


{%endblock conteudo%}