{%extends "base.html" %}
{% load materializecss %}
{%block conteudo%}



<main>
    <div class="row">
        <div class="col s4  margin20">
            <form method="post">
                {% csrf_token %}

                {{ form|materializecss }}

                

                <div class="center ">
                    
                    <button class="btn waves-effect blue-grey lighten-1 z-depth-1" type="submit" name="action">Submit
                        <i class="material-icons right">app_registration</i>
                    </button>
                </div>
                
            </form>
        </div>
        <div class="col s4 margin20">
            <table class="z-depth-5 ">
                <thead>
                  <tr>
                      <th>Nome</th>
                      <th>Tipo de votação</th>
                      <th>Codigo para Votar</th>
                  </tr>
                </thead>
        
                <tbody>
                    {%for x in todas_opcoes_voto%}
                        <tr>
                            <td>{{x.nome_completo}}</td>
                            <td>{{x.votacao}}</td>
                            <td>{{x.codigo_votacao}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col s2 offset-s1 margin20 ">
            <a class=" btn waves-effect blue-grey lighten-1 z-depth-1 " href="{% url 'index'%}">
                <i class="material-icons right">widgets</i>Menu
            </a>
        </div>

    </div>


</main>



{%endblock conteudo%}